body{
  background: #ecf0f1;
  color: rgb(0,0,0,0.7) !important;
}
.race_black_cluster_color, .race_black_cluster_color div{
    background-color: rgba(215,25,28, 0.4);
}
.race_white_cluster_color, .race_white_cluster_color div{
    background-color: rgba(44,123,182, 0.4);
}
.race_hispanic_cluster_color, .race_hispanic_cluster_color div{
     background-color: rgba(253,174,97, 0.4);
}
.race_asian_cluster_color, .race_asian_cluster_color div{
    background-color: rgba(123,50,148, 0.3);
}
#starthelp{
position: absolute;
    top: 0;
    z-index: 9999;
    right: 40px;
    box-shadow: 2px 3px 5px #00000087;
    top: 8px;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    border-color: #1a242f;
    background: #1a242f;
}
.introjs-tooltiptext{
  font-size: 13px;
}
.introjs-helperNumberLayer{
  background: linear-gradient(to bottom,#1a242f 0,#6baaef 100%) !important;
}
.navbar-nav{
  margin-left: 35px;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}

.dygraph-legend{
  background: none !important;
}
.main-svg{
  background: none !important;
}
.well{
  background: white;
}

.dygraph-legend{
    font-size: 12px !important;
    width: 100% !important;
    top: 5px !important;
    left: 0px !important;
    text-align: right !important;
}

.dygraph-title{
  text-align: center !important;
    font-size: 20px !important;
    left: 20px !important;
    margin-top: -40px !important;
}
#drugs_stoppage .dygraph-title{
  text-align: center !important;
    font-size: 20px !important;
    left: 20px !important;
    margin-top: 0px!important;
}
.navbar-static-top{
  box-shadow: 0px 4px 8px #a5a5a5;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dygraph-ylabel{
  font-size: 13px !important;
}
.filter-panel{
  margin-bottom: 0px !important;
  background: #2d3e4f;
  color: #ffffff;
  font-size: 12px;
  border-radius: 20px;
}

#arrest_search_filter .shiny-input-container{
  margin-left: calc(100% - 325px);
    position: relative;
    padding: 5px 0px 12px 5px;
    right: 0;
    text-align: auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(45,62,79, 0), rgba(45,62,79, 0.75), rgba(45,62,79, 0));
}

#selectState_dashboard .shiny-input-container{
  margin-left: auto;
    margin-right: auto;
        margin-top: 7px;
}
.filter-graph-header, .filter-graph-header-global{
  margin-bottom: 4px !important;
  position: relative;
  height: 100px;
}

.filter-graph-header-global .shiny-input-container{
  width: 400px;
  margin: auto;
}

.filter-graph-header .shiny-input-container{
  width: 300px;
  position: absolute;
  right: 40px;
}
#leaflet_map{
  width: calc(100% + 60px) !important;
  height: 92.5vh !important;
  margin-top: -25px;
  margin-left: -30px;
}
#animated_time_slider{
  margin-top: 20px;
}


#map-filters{
  background: #d4dadcb8;
  bottom: 10px;
  left: 0px;
  padding: 35px;
  border-radius: 10px;
}

#my_button1, #my_button2{
  background-color: #2d3e4f !important;
    border-color: #2d3e4f !important;
    border-radius: 20px;
    box-shadow: -3px 3px 3px #888888;
    padding: 6px 15px;
    font-size: 14px;
}
#heatmap{
  padding-left: 0px !important;
}
#tornado-chart{
  padding-right:4px !important;
}

#well-treemap{
  height: 542px;
} 
#heatmap_narration{
      width: 62vw !important;
    position: absolute;
    line-height: 1.2;
}
.extended{
  height: 340px;
}
#heatmap_narration b, #extended-narrative b {
  color:  #4b9cdb;
}
#extended-narrative{
  height: 849px;
}